components/UserAccountManager/Connected Services/UserQueryService2/UserQueryService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="HP.HSP.UserQueryService" elementFormDefault="qualified" targetNamespace="HP.HSP.UserQueryService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://bas.dev.mapshc.com/HP.HSP.UA3.User/R6.0/UserQueryService.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.User.Contracts.Queries" />
  <xs:element name="GetUserProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.User.Contracts.Queries" minOccurs="0" name="query" nillable="true" type="q1:UserProfileQuery" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserProfileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.User.Contracts.Queries" minOccurs="0" name="GetUserProfileResult" nillable="true" type="q2:UserProfileQuery" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchUserProfiles">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.User.Contracts.Queries" minOccurs="0" name="query" nillable="true" type="q3:SearchUserProfilesQuery" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchUserProfilesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.User.Contracts.Queries" minOccurs="0" name="SearchUserProfilesResult" nillable="true" type="q4:SearchUserProfilesQuery" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserDelegates">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.User.Contracts.Queries" minOccurs="0" name="query" nillable="true" type="q5:UserDelegateQuery" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserDelegatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.User.Contracts.Queries" minOccurs="0" name="GetUserDelegatesResult" nillable="true" type="q6:UserDelegateQuery" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserDelegateDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.User.Contracts.Queries" minOccurs="0" name="query" nillable="true" type="q7:UserDelegateDetailsQuery" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserDelegateDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.User.Contracts.Queries" minOccurs="0" name="GetUserDelegateDetailsResult" nillable="true" type="q8:UserDelegateDetailsQuery" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserXRefRelationships">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.User.Contracts.Queries" minOccurs="0" name="query" nillable="true" type="q9:UserXRefRelationshipQuery" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserXRefRelationshipsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.User.Contracts.Queries" minOccurs="0" name="GetUserXRefRelationshipsResult" nillable="true" type="q10:UserXRefRelationshipQuery" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateRegisteredUserXref">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.User.Contracts.Queries" minOccurs="0" name="query" nillable="true" type="q11:RegisteredUserXrefQuery" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateRegisteredUserXrefResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.User.Contracts.Queries" minOccurs="0" name="ValidateRegisteredUserXrefResult" nillable="true" type="q12:RegisteredUserXrefQuery" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchUserProfileMemberFocusHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.User.Contracts.Queries" minOccurs="0" name="query" nillable="true" type="q13:UserProfileMembeFocusHistoryQuery" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchUserProfileMemberFocusHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.User.Contracts.Queries" minOccurs="0" name="SearchUserProfileMemberFocusHistoryResult" nillable="true" type="q14:UserProfileMembeFocusHistoryQuery" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserIdAvailability">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.User.Contracts.Queries" minOccurs="0" name="query" nillable="true" type="q15:UserIdAvailabilityQuery" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserIdAvailabilityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.User.Contracts.Queries" minOccurs="0" name="GetUserIdAvailabilityResult" nillable="true" type="q16:UserIdAvailabilityQuery" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvitationQualifiers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.User.Contracts.Queries" minOccurs="0" name="query" nillable="true" type="q17:InvitationQualifiersQuery" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvitationQualifiersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.User.Contracts.Queries" minOccurs="0" name="GetInvitationQualifiersResult" nillable="true" type="q18:InvitationQualifiersQuery" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQualifierVerification">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.User.Contracts.Queries" minOccurs="0" name="query" nillable="true" type="q19:QualifierVerificationQuery" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQualifierVerificationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.User.Contracts.Queries" minOccurs="0" name="GetQualifierVerificationResult" nillable="true" type="q20:QualifierVerificationQuery" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.User.Contracts.Queries" minOccurs="0" name="query" nillable="true" type="q21:UserGroupQuery" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.User.Contracts.Queries" minOccurs="0" name="GetAllUsersResult" nillable="true" type="q22:UserGroupQuery" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.User.Contracts.Queries" minOccurs="0" name="query" nillable="true" type="q23:UsersQuery" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.User.Contracts.Queries" minOccurs="0" name="SearchUsersResult" nillable="true" type="q24:UsersQuery" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GerUserIdExists">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.User.Contracts.Queries" minOccurs="0" name="query" nillable="true" type="q25:UserIdExistsQuery" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GerUserIdExistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.User.Contracts.Queries" minOccurs="0" name="GerUserIdExistsResult" nillable="true" type="q26:UserIdExistsQuery" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>