components/UserAccountManager/Connected Services/UserService2/UserService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="HP.HSP.UserService" elementFormDefault="qualified" targetNamespace="HP.HSP.UserService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://bas.dev.mapshc.com/HP.HSP.UA3.User/R6.0/UserService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.User.Contracts.Commands" />
  <xs:import schemaLocation="https://bas.dev.mapshc.com/HP.HSP.UA3.User/R6.0/UserService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.User.Contracts.Events" />
  <xs:element name="AddProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.User.Contracts.Commands" minOccurs="0" name="command" nillable="true" type="q1:AddProfile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddProfileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.User.Contracts.Events" minOccurs="0" name="AddProfileResult" nillable="true" type="q2:ProfileAdded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.User.Contracts.Commands" minOccurs="0" name="command" nillable="true" type="q3:UpdateProfile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProfileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.User.Contracts.Events" minOccurs="0" name="UpdateProfileResult" nillable="true" type="q4:ProfileUpdated" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActivateProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.User.Contracts.Commands" minOccurs="0" name="command" nillable="true" type="q5:ActivateProfile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActivateProfileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.User.Contracts.Events" minOccurs="0" name="ActivateProfileResult" nillable="true" type="q6:ProfileActivated" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InactivateProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.User.Contracts.Commands" minOccurs="0" name="command" nillable="true" type="q7:InactivateProfile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InactivateProfileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.User.Contracts.Events" minOccurs="0" name="InactivateProfileResult" nillable="true" type="q8:ProfileInactivated" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserDelegate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.User.Contracts.Commands" minOccurs="0" name="command" nillable="true" type="q9:AddUserDelegateCommand" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserDelegateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.User.Contracts.Events" minOccurs="0" name="AddUserDelegateResult" nillable="true" type="q10:UserDelegateAdded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRegisteredUserXref">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.User.Contracts.Commands" minOccurs="0" name="command" nillable="true" type="q11:AddRegisteredUserXrefCommand" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRegisteredUserXrefResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.User.Contracts.Events" minOccurs="0" name="AddRegisteredUserXrefResult" nillable="true" type="q12:RegisteredUserXrefAdded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRegisteredUserXref">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.User.Contracts.Commands" minOccurs="0" name="command" nillable="true" type="q13:UpdateRegisteredUserXrefCommand" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRegisteredUserXrefResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.User.Contracts.Events" minOccurs="0" name="UpdateRegisteredUserXrefResult" nillable="true" type="q14:RegisteredUserXrefUpdated" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserPreferences">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.User.Contracts.Commands" minOccurs="0" name="command" nillable="true" type="q15:AddUserPreferences" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserPreferencesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.User.Contracts.Events" minOccurs="0" name="AddUserPreferencesResult" nillable="true" type="q16:UserPreferencesAdded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveUserPreferences">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.User.Contracts.Commands" minOccurs="0" name="command" nillable="true" type="q17:RemoveUserPreferences" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveUserPreferencesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.User.Contracts.Events" minOccurs="0" name="RemoveUserPreferencesResult" nillable="true" type="q18:UserPreferencesRemoved" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserProfileMemberFocusHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.User.Contracts.Commands" minOccurs="0" name="command" nillable="true" type="q19:AddUserProfileMemberFocusHistory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserProfileMemberFocusHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.User.Contracts.Events" minOccurs="0" name="AddUserProfileMemberFocusHistoryResult" nillable="true" type="q20:UserProfileMemberFocusHistoryAdded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserVOSTags">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.User.Contracts.Commands" minOccurs="0" name="command" nillable="true" type="q21:AddUserVOSTags" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserVOSTagsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.User.Contracts.Events" minOccurs="0" name="AddUserVOSTagsResult" nillable="true" type="q22:UserVOSTagsAdded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserVOSTag">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.User.Contracts.Commands" minOccurs="0" name="command" nillable="true" type="q23:UpdateUserVOSTag" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserVOSTagResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.User.Contracts.Events" minOccurs="0" name="UpdateUserVOSTagResult" nillable="true" type="q24:UserVOSTagUpdated" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.User.Contracts.Commands" minOccurs="0" name="command" nillable="true" type="q25:AddUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.User.Contracts.Events" minOccurs="0" name="AddUserResult" nillable="true" type="q26:UserAdded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>