components/BASEventsTestingUtil/Service References/EventDistribution/EmployeeEventService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="HP.HSP.UA3.Eventing" elementFormDefault="qualified" targetNamespace="HP.HSP.UA3.Eventing" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:90/EmployeeEventService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Eventing" />
  <xs:element name="ProcessEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Eventing" minOccurs="0" name="event" nillable="true" type="q1:EventMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessEventResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>