components/BASEventsTestingUtil/Service References/EventDistribution/ProviderEventService23.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Eventing" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Eventing" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EventMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="AggregateRootID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AggregateRootType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CommitID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CorrelationID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EventNamespace" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EventPayLoad" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="EventType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModuleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SequenceNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TenantID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Version" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EventMessage" nillable="true" type="tns:EventMessage" />
</xs:schema>