components/UserAccountManager/Connected Services/UserService1/UserService7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.User.Contracts.Domain" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.User.Contracts.Domain" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://bas.dev.mapshc.com/HP.HSP.UA3.User/R6.0/UserService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="https://bas.dev.mapshc.com/HP.HSP.UA3.User/R6.0/UserService.svc?xsd=xsd7" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="UserVOSTagListModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserVOSTag" nillable="true" type="tns:UserVOSTagModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserVOSTagListModel" nillable="true" type="tns:UserVOSTagListModel" />
  <xs:complexType name="UserVOSTagModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EffectiveDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EndDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TypeCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserVOSTagId" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserVOSTagModel" nillable="true" type="tns:UserVOSTagModel" />
  <xs:complexType name="ArrayOfRegisteredUserXrefAssociation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RegisteredUserXrefAssociation" nillable="true" type="tns:RegisteredUserXrefAssociation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRegisteredUserXrefAssociation" nillable="true" type="tns:ArrayOfRegisteredUserXrefAssociation" />
  <xs:complexType name="RegisteredUserXrefAssociation">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="AssociatedFunctions" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="AssociationId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="UserProfileXrefAssocId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RegisteredUserXrefAssociation" nillable="true" type="tns:RegisteredUserXrefAssociation" />
  <xs:complexType name="ArrayOfKeyValuePair">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValuePair" nillable="true" type="tns:KeyValuePair" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValuePair" nillable="true" type="tns:ArrayOfKeyValuePair" />
  <xs:complexType name="KeyValuePair">
    <xs:sequence>
      <xs:element minOccurs="0" name="Key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KeyValuePair" nillable="true" type="tns:KeyValuePair" />
</xs:schema>