components/InRuleTest/InRuleTest/Service References/InRuleRuleSoapService/RuleEngineService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.inrule.com/XmlSchema/Schema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RuleEngineService" targetNamespace="http://www.inrule.com/XmlSchema/Schema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.inrule.com/XmlSchema/Schema/Imports">
      <xsd:import schemaLocation="http://bre1.dev.ua3.elabs.svcs.hpe.com/InRuleRuleEngineService/Service.svc?xsd=xsd0" namespace="http://www.inrule.com/XmlSchema/Schema" />
      <xsd:import schemaLocation="http://bre1.dev.ua3.elabs.svcs.hpe.com/InRuleRuleEngineService/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://bre1.dev.ua3.elabs.svcs.hpe.com/InRuleRuleEngineService/Service.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://bre1.dev.ua3.elabs.svcs.hpe.com/InRuleRuleEngineService/Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/InRule.Common.Xml.Schema.Xsd" />
      <xsd:import schemaLocation="http://bre1.dev.ua3.elabs.svcs.hpe.com/InRuleRuleEngineService/Service.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/InRule.Repository" />
      <xsd:import schemaLocation="http://bre1.dev.ua3.elabs.svcs.hpe.com/InRuleRuleEngineService/Service.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/InRule.Runtime.Service.Response" />
      <xsd:import schemaLocation="http://bre1.dev.ua3.elabs.svcs.hpe.com/InRuleRuleEngineService/Service.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/InRule.Runtime" />
      <xsd:import schemaLocation="http://bre1.dev.ua3.elabs.svcs.hpe.com/InRuleRuleEngineService/Service.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/InRule.Common.DataStructures.Stack" />
      <xsd:import schemaLocation="http://bre1.dev.ua3.elabs.svcs.hpe.com/InRuleRuleEngineService/Service.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/InRule.Common.DataStructures.Dictionary" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRuleEngineService_ExecuteRuleEngineRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteRuleEngineRequest" />
  </wsdl:message>
  <wsdl:message name="IRuleEngineService_ExecuteRuleEngineRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteRuleEngineRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IRuleEngineService_ExecuteRuleEngineRequest_ServiceFaultFault_FaultMessage">
    <wsdl:part name="detail" element="tns:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="IRuleEngineService_GetRuleRepositoryServiceUri_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRuleRepositoryServiceUri" />
  </wsdl:message>
  <wsdl:message name="IRuleEngineService_GetRuleRepositoryServiceUri_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRuleRepositoryServiceUriResponse" />
  </wsdl:message>
  <wsdl:message name="IRuleEngineService_GetRuleRepositoryServiceUri_ServiceFaultFault_FaultMessage">
    <wsdl:part name="detail" element="tns:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="IRuleEngineService_GetRuleApplicationDef_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRuleApplicationDef" />
  </wsdl:message>
  <wsdl:message name="IRuleEngineService_GetRuleApplicationDef_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRuleApplicationDefResponse" />
  </wsdl:message>
  <wsdl:message name="IRuleEngineService_GetRuleApplicationDef_ServiceFaultFault_FaultMessage">
    <wsdl:part name="detail" element="tns:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="IRuleEngineService_GetRuleApplicationInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRuleApplicationInfo" />
  </wsdl:message>
  <wsdl:message name="IRuleEngineService_GetRuleApplicationInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRuleApplicationInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IRuleEngineService_GetRuleApplicationInfo_ServiceFaultFault_FaultMessage">
    <wsdl:part name="detail" element="tns:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="IRuleEngineService_GetMaxItemsInObjectGraph_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMaxItemsInObjectGraph" />
  </wsdl:message>
  <wsdl:message name="IRuleEngineService_GetMaxItemsInObjectGraph_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMaxItemsInObjectGraphResponse" />
  </wsdl:message>
  <wsdl:message name="IRuleEngineService_GetMaxItemsInObjectGraph_ServiceFaultFault_FaultMessage">
    <wsdl:part name="detail" element="tns:ServiceFault" />
  </wsdl:message>
  <wsdl:portType name="IRuleEngineService">
    <wsdl:operation name="ExecuteRuleEngineRequest">
      <wsdl:input wsaw:Action="http://www.inrule.com/XmlSchema/Schema/IRuleEngineService/ExecuteRuleEngineRequest" message="tns:IRuleEngineService_ExecuteRuleEngineRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://www.inrule.com/XmlSchema/Schema/IRuleEngineService/ExecuteRuleEngineRequestResponse" message="tns:IRuleEngineService_ExecuteRuleEngineRequest_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.inrule.com/XmlSchema/Schema/IRuleEngineService/ExecuteRuleEngineRequestServiceFaultFault" name="ServiceFaultFault" message="tns:IRuleEngineService_ExecuteRuleEngineRequest_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRuleRepositoryServiceUri">
      <wsdl:input wsaw:Action="http://www.inrule.com/XmlSchema/Schema/IRuleEngineService/GetRuleRepositoryServiceUri" message="tns:IRuleEngineService_GetRuleRepositoryServiceUri_InputMessage" />
      <wsdl:output wsaw:Action="http://www.inrule.com/XmlSchema/Schema/IRuleEngineService/GetRuleRepositoryServiceUriResponse" message="tns:IRuleEngineService_GetRuleRepositoryServiceUri_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.inrule.com/XmlSchema/Schema/IRuleEngineService/GetRuleRepositoryServiceUriServiceFaultFault" name="ServiceFaultFault" message="tns:IRuleEngineService_GetRuleRepositoryServiceUri_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRuleApplicationDef">
      <wsdl:input wsaw:Action="http://www.inrule.com/XmlSchema/Schema/IRuleEngineService/GetRuleApplicationDef" message="tns:IRuleEngineService_GetRuleApplicationDef_InputMessage" />
      <wsdl:output wsaw:Action="http://www.inrule.com/XmlSchema/Schema/IRuleEngineService/GetRuleApplicationDefResponse" message="tns:IRuleEngineService_GetRuleApplicationDef_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.inrule.com/XmlSchema/Schema/IRuleEngineService/GetRuleApplicationDefServiceFaultFault" name="ServiceFaultFault" message="tns:IRuleEngineService_GetRuleApplicationDef_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRuleApplicationInfo">
      <wsdl:input wsaw:Action="http://www.inrule.com/XmlSchema/Schema/IRuleEngineService/GetRuleApplicationInfo" message="tns:IRuleEngineService_GetRuleApplicationInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://www.inrule.com/XmlSchema/Schema/IRuleEngineService/GetRuleApplicationInfoResponse" message="tns:IRuleEngineService_GetRuleApplicationInfo_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.inrule.com/XmlSchema/Schema/IRuleEngineService/GetRuleApplicationInfoServiceFaultFault" name="ServiceFaultFault" message="tns:IRuleEngineService_GetRuleApplicationInfo_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMaxItemsInObjectGraph">
      <wsdl:input wsaw:Action="http://www.inrule.com/XmlSchema/Schema/IRuleEngineService/GetMaxItemsInObjectGraph" message="tns:IRuleEngineService_GetMaxItemsInObjectGraph_InputMessage" />
      <wsdl:output wsaw:Action="http://www.inrule.com/XmlSchema/Schema/IRuleEngineService/GetMaxItemsInObjectGraphResponse" message="tns:IRuleEngineService_GetMaxItemsInObjectGraph_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.inrule.com/XmlSchema/Schema/IRuleEngineService/GetMaxItemsInObjectGraphServiceFaultFault" name="ServiceFaultFault" message="tns:IRuleEngineService_GetMaxItemsInObjectGraph_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRuleEngineService" type="tns:IRuleEngineService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ExecuteRuleEngineRequest">
      <soap:operation soapAction="http://www.inrule.com/XmlSchema/Schema/IRuleEngineService/ExecuteRuleEngineRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetRuleRepositoryServiceUri">
      <soap:operation soapAction="http://www.inrule.com/XmlSchema/Schema/IRuleEngineService/GetRuleRepositoryServiceUri" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetRuleApplicationDef">
      <soap:operation soapAction="http://www.inrule.com/XmlSchema/Schema/IRuleEngineService/GetRuleApplicationDef" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetRuleApplicationInfo">
      <soap:operation soapAction="http://www.inrule.com/XmlSchema/Schema/IRuleEngineService/GetRuleApplicationInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetMaxItemsInObjectGraph">
      <soap:operation soapAction="http://www.inrule.com/XmlSchema/Schema/IRuleEngineService/GetMaxItemsInObjectGraph" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RuleEngineService">
    <wsdl:port name="BasicHttpBinding_IRuleEngineService" binding="tns:BasicHttpBinding_IRuleEngineService">
      <soap:address location="http://bre1.dev.ua3.elabs.svcs.hpe.com/InRuleRuleEngineService/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>