components/LoadTenantDb/Service References/HtmlBlockService/HtmlBlockService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://bas.dev.mapshc.com:8010/HP.HSP.UA3.TenantConfiguration/R6.0/HtmlBlockService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Administration.BAS.TenantConfiguration.Contracts.Commands" />
  <xs:import schemaLocation="http://bas.dev.mapshc.com:8010/HP.HSP.UA3.TenantConfiguration/R6.0/HtmlBlockService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Administration.BAS.TenantConfiguration.Contracts.Events" />
  <xs:element name="AddHtmlBlock">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Administration.BAS.TenantConfiguration.Contracts.Commands" minOccurs="0" name="command" nillable="true" type="q1:AddHtmlBlockCommand" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddHtmlBlockResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Administration.BAS.TenantConfiguration.Contracts.Events" minOccurs="0" name="AddHtmlBlockResult" nillable="true" type="q2:HtmlBlockAdded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateHtmlBlock">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Administration.BAS.TenantConfiguration.Contracts.Commands" minOccurs="0" name="command" nillable="true" type="q3:UpdateHtmlBlockCommand" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateHtmlBlockResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Administration.BAS.TenantConfiguration.Contracts.Events" minOccurs="0" name="UpdateHtmlBlockResult" nillable="true" type="q4:HtmlBlockUpdated" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
