components/LoadTenantDb/Service References/HtmlBlockService/HtmlBlockService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Administration.BAS.TenantConfiguration.Contracts.Domain" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Administration.BAS.TenantConfiguration.Contracts.Domain" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="HtmlBlock">
    <xs:sequence>
      <xs:element minOccurs="0" name="ContentId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HtmlBlockId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HtmlBlockLanguages" nillable="true" type="tns:ArrayOfHtmlBlockLanguage" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastModifiedTS" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OperatorID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TenantModuleId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HtmlBlock" nillable="true" type="tns:HtmlBlock" />
  <xs:complexType name="ArrayOfHtmlBlockLanguage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HtmlBlockLanguage" nillable="true" type="tns:HtmlBlockLanguage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHtmlBlockLanguage" nillable="true" type="tns:ArrayOfHtmlBlockLanguage" />
  <xs:complexType name="HtmlBlockLanguage">
    <xs:sequence>
      <xs:element minOccurs="0" name="Html" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HtmlBlockId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HtmlBlockLanguageUpdated" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastModifiedTS" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Locale" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OperatorId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HtmlBlockLanguage" nillable="true" type="tns:HtmlBlockLanguage" />
</xs:schema>