components/LoadTenantDb/Service References/MenuService/MenuService82.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.CQRS.UserMeta" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.CQRS.UserMeta" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RequestorModel">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="BrowserInfo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CorrelationId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IdentifierId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IdentifierIdType" type="tns:CoreEnumerations.Messaging.IdentifierIdType" />
          <xs:element minOccurs="0" name="IpAddress" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LocaleCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RequestDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="TenantId" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RequestorModel" nillable="true" type="tns:RequestorModel" />
  <xs:complexType name="BaseModel">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="BaseModel" nillable="true" type="tns:BaseModel" />
  <xs:simpleType name="CoreEnumerations.Messaging.IdentifierIdType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="User" />
      <xs:enumeration value="System" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CoreEnumerations.Messaging.IdentifierIdType" nillable="true" type="tns:CoreEnumerations.Messaging.IdentifierIdType" />
</xs:schema>