components/LoadTenantDb/Service References/MenuService/MenuService86.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Administration.BAS.TenantConfiguration.Contracts.Commands" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Administration.BAS.TenantConfiguration.Contracts.Commands" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://bas.dev.mapshc.com:8010/HP.HSP.UA3.TenantConfiguration/R6.0/MenuService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Administration.BAS.TenantConfiguration.Contracts.Domain" />
  <xs:import schemaLocation="http://bas.dev.mapshc.com:8010/HP.HSP.UA3.TenantConfiguration/R6.0/MenuService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.CQRS.Base" />
  <xs:complexType name="AddMenuCommand">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.CQRS.Base" base="q1:Command">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Administration.BAS.TenantConfiguration.Contracts.Domain" minOccurs="0" name="AddMenu" nillable="true" type="q2:AddMenu" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AddMenuCommand" nillable="true" type="tns:AddMenuCommand" />
  <xs:complexType name="UpdateMenuCommand">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.CQRS.Base" base="q3:Command">
        <xs:sequence>
          <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Administration.BAS.TenantConfiguration.Contracts.Domain" minOccurs="0" name="UpdateMenu" nillable="true" type="q4:UpdateMenu" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UpdateMenuCommand" nillable="true" type="tns:UpdateMenuCommand" />
  <xs:complexType name="AddMenuItemCommand">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.CQRS.Base" base="q5:Command">
        <xs:sequence>
          <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Administration.BAS.TenantConfiguration.Contracts.Domain" minOccurs="0" name="AddMenuItem" nillable="true" type="q6:AddMenuItem" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AddMenuItemCommand" nillable="true" type="tns:AddMenuItemCommand" />
  <xs:complexType name="UpdateMenuItemCommand">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q7="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.CQRS.Base" base="q7:Command">
        <xs:sequence>
          <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Administration.BAS.TenantConfiguration.Contracts.Domain" minOccurs="0" name="UpdateMenuItem" nillable="true" type="q8:UpdateMenuItem" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UpdateMenuItemCommand" nillable="true" type="tns:UpdateMenuItemCommand" />
</xs:schema>
