components/QueryLoggingReconciliationUtility/QueryLoggingReconciliationUtility.GUI/Connected Services/DataListsService/DataListsService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="HP.HSP.DataLists" elementFormDefault="qualified" targetNamespace="HP.HSP.DataLists" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://localhost:44311/DataListsService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.CQRS.Base.Administration.Commands" />
  <xs:import schemaLocation="https://localhost:44311/DataListsService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.CQRS.Base.Administration.Events" />
  <xs:import schemaLocation="https://localhost:44311/DataListsService.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Administration.BAS.DataLists.Contracts.Commands" />
  <xs:import schemaLocation="https://localhost:44311/DataListsService.svc?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Administration.BAS.DataLists.Contracts.Events" />
  <xs:element name="AddDataListItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.CQRS.Base.Administration.Commands" minOccurs="0" name="command" nillable="true" type="q1:AddDataListItemCommand" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDataListItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.CQRS.Base.Administration.Events" minOccurs="0" name="AddDataListItemResult" nillable="true" type="q2:DataListItemAdded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDataListItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.CQRS.Base.Administration.Commands" minOccurs="0" name="command" nillable="true" type="q3:UpdateDataListItemCommand" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDataListItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.CQRS.Base.Administration.Events" minOccurs="0" name="UpdateDataListItemResult" nillable="true" type="q4:DataListItemUpdated" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetDatalistItemState">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Administration.BAS.DataLists.Contracts.Commands" minOccurs="0" name="command" nillable="true" type="q5:ResetDatalistItemStateCommand" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetDatalistItemStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Administration.BAS.DataLists.Contracts.Events" minOccurs="0" name="ResetDatalistItemStateResult" nillable="true" type="q6:DataListItemReset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDataList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Administration.BAS.DataLists.Contracts.Commands" minOccurs="0" name="command" nillable="true" type="q7:AddDataListCommand" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDataListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Administration.BAS.DataLists.Contracts.Events" minOccurs="0" name="AddDataListResult" nillable="true" type="q8:DataListsAdded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDataList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Administration.BAS.DataLists.Contracts.Commands" minOccurs="0" name="command" nillable="true" type="q9:UpdateDataListCommand" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDataListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Administration.BAS.DataLists.Contracts.Events" minOccurs="0" name="UpdateDataListResult" nillable="true" type="q10:DataListsUpdated" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RevalidateAttribute">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.CQRS.Base.Administration.Commands" minOccurs="0" name="command" nillable="true" type="q11:RevalidateDatalistItemAttributeCommand" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RevalidateAttributeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.CQRS.Base.Administration.Events" minOccurs="0" name="RevalidateAttributeResult" nillable="true" type="q12:DatalistItemAttributeRevalidated" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDataListItemAttribute">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.CQRS.Base.Administration.Commands" minOccurs="0" name="command" nillable="true" type="q13:DeleteDataListItemAttributeCommand" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDataListItemAttributeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.CQRS.Base.Administration.Events" minOccurs="0" name="DeleteDataListItemAttributeResult" nillable="true" type="q14:DataListItemAttributeDeleted" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RevalidateDataList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Administration.BAS.DataLists.Contracts.Commands" minOccurs="0" name="command" nillable="true" type="q15:RevalidateDatalistCommand" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RevalidateDataListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Administration.BAS.DataLists.Contracts.Events" minOccurs="0" name="RevalidateDataListResult" nillable="true" type="q16:DataListsRevalidated" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCoreDataList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Administration.BAS.DataLists.Contracts.Commands" minOccurs="0" name="command" nillable="true" type="q17:AddCoreListCommand" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCoreDataListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Administration.BAS.DataLists.Contracts.Events" minOccurs="0" name="AddCoreDataListResult" nillable="true" type="q18:CoreDataListAdded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCoreDataList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Administration.BAS.DataLists.Contracts.Commands" minOccurs="0" name="command" nillable="true" type="q19:UpdateCoreListCommand" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCoreDataListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Administration.BAS.DataLists.Contracts.Events" minOccurs="0" name="UpdateCoreDataListResult" nillable="true" type="q20:CoreDataListUpdated" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>