components/LoadTenantDb/Service References/ServiceService/ServiceService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Administration.BAS.TenantConfiguration.Contracts.Domain" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Administration.BAS.TenantConfiguration.Contracts.Domain" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AddService">
    <xs:sequence>
      <xs:element minOccurs="0" name="BaseUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DefaultText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IocContainer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="LabelItemKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OperatorID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SecurityRightItemId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServiceId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TenantModuleId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddService" nillable="true" type="tns:AddService" />
  <xs:complexType name="UpdateService">
    <xs:sequence>
      <xs:element minOccurs="0" name="BaseUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DefaultText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IocContainer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="LabelItemKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OperatorID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SecurityRightItemId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServiceId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TenantModuleId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UpdateService" nillable="true" type="tns:UpdateService" />
</xs:schema>