components/LoadTenantDb/Service References/AppSettingService/AppSettingService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AppSettingService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:40520/AppSettingService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:40520/AppSettingService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.CQRS.Base" />
      <xsd:import schemaLocation="http://localhost:40520/AppSettingService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:40520/AppSettingService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Administration.BAS.TenantConfiguration.Contracts.Commands" />
      <xsd:import schemaLocation="http://localhost:40520/AppSettingService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.CQRS.UserMeta" />
      <xsd:import schemaLocation="http://localhost:40520/AppSettingService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Administration.BAS.TenantConfiguration.Contracts.Domain" />
      <xsd:import schemaLocation="http://localhost:40520/AppSettingService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Administration.BAS.TenantConfiguration.Contracts.Events" />
      <xsd:import schemaLocation="http://localhost:40520/AppSettingService.svc?xsd=xsd7" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAppSettingService_AddAppSetting_InputMessage">
    <wsdl:part name="parameters" element="tns:AddAppSetting" />
  </wsdl:message>
  <wsdl:message name="IAppSettingService_AddAppSetting_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddAppSettingResponse" />
  </wsdl:message>
  <wsdl:message name="IAppSettingService_AddAppSetting_ServiceExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.CQRS.Base" name="detail" element="q1:ServiceException" />
  </wsdl:message>
  <wsdl:message name="IAppSettingService_UpdateAppSetting_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAppSetting" />
  </wsdl:message>
  <wsdl:message name="IAppSettingService_UpdateAppSetting_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAppSettingResponse" />
  </wsdl:message>
  <wsdl:message name="IAppSettingService_UpdateAppSetting_ServiceExceptionFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.CQRS.Base" name="detail" element="q2:ServiceException" />
  </wsdl:message>
  <wsdl:portType name="IAppSettingService">
    <wsdl:operation name="AddAppSetting">
      <wsdl:input wsaw:Action="http://tempuri.org/IAppSettingService/AddAppSetting" message="tns:IAppSettingService_AddAppSetting_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAppSettingService/AddAppSettingResponse" message="tns:IAppSettingService_AddAppSetting_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAppSettingService/AddAppSettingServiceExceptionFault" name="ServiceExceptionFault" message="tns:IAppSettingService_AddAppSetting_ServiceExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAppSetting">
      <wsdl:input wsaw:Action="http://tempuri.org/IAppSettingService/UpdateAppSetting" message="tns:IAppSettingService_UpdateAppSetting_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAppSettingService/UpdateAppSettingResponse" message="tns:IAppSettingService_UpdateAppSetting_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAppSettingService/UpdateAppSettingServiceExceptionFault" name="ServiceExceptionFault" message="tns:IAppSettingService_UpdateAppSetting_ServiceExceptionFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAppSettingService" type="tns:IAppSettingService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddAppSetting">
      <soap:operation soapAction="http://tempuri.org/IAppSettingService/AddAppSetting" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceExceptionFault">
        <soap:fault use="literal" name="ServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateAppSetting">
      <soap:operation soapAction="http://tempuri.org/IAppSettingService/UpdateAppSetting" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceExceptionFault">
        <soap:fault use="literal" name="ServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AppSettingService">
    <wsdl:port name="BasicHttpBinding_IAppSettingService" binding="tns:BasicHttpBinding_IAppSettingService">
      <soap:address location="http://localhost:40520/AppSettingService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>