components/LoadTenantDb/Service References/AppSettingService/AppSettingService7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Administration.BAS.TenantConfiguration.Contracts.Domain" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Administration.BAS.TenantConfiguration.Contracts.Domain" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AppSetting">
    <xs:sequence>
      <xs:element minOccurs="0" name="AppSettingKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApplicationId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastModifiedTS" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OperatorID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SettingTypeItemKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TenantModuleAppSettingId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TenantModuleId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AppSetting" nillable="true" type="tns:AppSetting" />
</xs:schema>