components/QueryLoggingReconciliationUtility/QueryLoggingReconciliationUtility.GUI/Connected Services/DataListsQueryService/DataListsQueryService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="HP.HSP.DataListsQueryService" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DataListsQueryService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_IDataListsQueryService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="HP.HSP.DataListsQueryService" location="https://localhost:44311/DataListsQueryService.svc?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="BasicHttpBinding_IDataListsQueryService" type="i0:IDataListsQueryService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IsServiceAvailable">
      <soap:operation soapAction="http://tempuri.org/IServiceAvailability/IsServiceAvailable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsServiceHealthy">
      <soap:operation soapAction="http://tempuri.org/IServiceAvailability/IsServiceHealthy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataListItems">
      <soap:operation soapAction="HP.HSP.DataListsQueryService/IDataListsQueryService/GetDataListItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceExceptionFault">
        <soap:fault use="literal" name="ServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetItemCodeDescription">
      <soap:operation soapAction="HP.HSP.DataListsQueryService/IDataListsQueryService/GetItemCodeDescription" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceExceptionFault">
        <soap:fault use="literal" name="ServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAllItemDescriptions">
      <soap:operation soapAction="HP.HSP.DataListsQueryService/IDataListsQueryService/GetAllItemDescriptions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceExceptionFault">
        <soap:fault use="literal" name="ServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetItemAttribute">
      <soap:operation soapAction="HP.HSP.DataListsQueryService/IDataListsQueryService/GetItemAttribute" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceExceptionFault">
        <soap:fault use="literal" name="ServiceExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="BusinessValidationExceptionFault">
        <soap:fault use="literal" name="BusinessValidationExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SearchLanguageDataListItems">
      <soap:operation soapAction="HP.HSP.DataListsQueryService/IDataListsQueryService/SearchLanguageDataListItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceExceptionFault">
        <soap:fault use="literal" name="ServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SearchDataListsEvents">
      <soap:operation soapAction="HP.HSP.DataListsQueryService/IDataListsQueryService/SearchDataListsEvents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceExceptionFault">
        <soap:fault use="literal" name="ServiceExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="BusinessValidationExceptionFault">
        <soap:fault use="literal" name="BusinessValidationExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDataListsAggregateDelta">
      <soap:operation soapAction="HP.HSP.DataListsQueryService/IDataListsQueryService/GetDataListsAggregateDelta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceExceptionFault">
        <soap:fault use="literal" name="ServiceExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="BusinessValidationExceptionFault">
        <soap:fault use="literal" name="BusinessValidationExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SearchDataListItemEvents">
      <soap:operation soapAction="HP.HSP.DataListsQueryService/IDataListsQueryService/SearchDataListItemEvents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceExceptionFault">
        <soap:fault use="literal" name="ServiceExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="BusinessValidationExceptionFault">
        <soap:fault use="literal" name="BusinessValidationExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDataListItemAggregateDelta">
      <soap:operation soapAction="HP.HSP.DataListsQueryService/IDataListsQueryService/GetDataListItemAggregateDelta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceExceptionFault">
        <soap:fault use="literal" name="ServiceExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="BusinessValidationExceptionFault">
        <soap:fault use="literal" name="BusinessValidationExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_IDataListsQueryService" type="i0:IDataListsQueryService">
    <wsp:PolicyReference URI="#BasicHttpsBinding_IDataListsQueryService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IsServiceAvailable">
      <soap:operation soapAction="http://tempuri.org/IServiceAvailability/IsServiceAvailable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsServiceHealthy">
      <soap:operation soapAction="http://tempuri.org/IServiceAvailability/IsServiceHealthy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataListItems">
      <soap:operation soapAction="HP.HSP.DataListsQueryService/IDataListsQueryService/GetDataListItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceExceptionFault">
        <soap:fault use="literal" name="ServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetItemCodeDescription">
      <soap:operation soapAction="HP.HSP.DataListsQueryService/IDataListsQueryService/GetItemCodeDescription" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceExceptionFault">
        <soap:fault use="literal" name="ServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAllItemDescriptions">
      <soap:operation soapAction="HP.HSP.DataListsQueryService/IDataListsQueryService/GetAllItemDescriptions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceExceptionFault">
        <soap:fault use="literal" name="ServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetItemAttribute">
      <soap:operation soapAction="HP.HSP.DataListsQueryService/IDataListsQueryService/GetItemAttribute" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceExceptionFault">
        <soap:fault use="literal" name="ServiceExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="BusinessValidationExceptionFault">
        <soap:fault use="literal" name="BusinessValidationExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SearchLanguageDataListItems">
      <soap:operation soapAction="HP.HSP.DataListsQueryService/IDataListsQueryService/SearchLanguageDataListItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceExceptionFault">
        <soap:fault use="literal" name="ServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SearchDataListsEvents">
      <soap:operation soapAction="HP.HSP.DataListsQueryService/IDataListsQueryService/SearchDataListsEvents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceExceptionFault">
        <soap:fault use="literal" name="ServiceExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="BusinessValidationExceptionFault">
        <soap:fault use="literal" name="BusinessValidationExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDataListsAggregateDelta">
      <soap:operation soapAction="HP.HSP.DataListsQueryService/IDataListsQueryService/GetDataListsAggregateDelta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceExceptionFault">
        <soap:fault use="literal" name="ServiceExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="BusinessValidationExceptionFault">
        <soap:fault use="literal" name="BusinessValidationExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SearchDataListItemEvents">
      <soap:operation soapAction="HP.HSP.DataListsQueryService/IDataListsQueryService/SearchDataListItemEvents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceExceptionFault">
        <soap:fault use="literal" name="ServiceExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="BusinessValidationExceptionFault">
        <soap:fault use="literal" name="BusinessValidationExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDataListItemAggregateDelta">
      <soap:operation soapAction="HP.HSP.DataListsQueryService/IDataListsQueryService/GetDataListItemAggregateDelta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceExceptionFault">
        <soap:fault use="literal" name="ServiceExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="BusinessValidationExceptionFault">
        <soap:fault use="literal" name="BusinessValidationExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DataListsQueryService">
    <wsdl:port name="BasicHttpBinding_IDataListsQueryService" binding="tns:BasicHttpBinding_IDataListsQueryService">
      <soap:address location="http://localhost:40520/DataListsQueryService.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_IDataListsQueryService" binding="tns:BasicHttpsBinding_IDataListsQueryService">
      <soap:address location="https://localhost:44311/DataListsQueryService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>