components/QueryLoggingReconciliationUtility/QueryLoggingReconciliationUtility/Connected Services/DataListsService/DataListsService10.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Administration.BAS.DataLists.Contracts.Events" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Administration.BAS.DataLists.Contracts.Events" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://localhost:44311/DataListsService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.CQRS.Base.Administration.Events" />
  <xs:import schemaLocation="https://localhost:44311/DataListsService.svc?xsd=xsd11" namespace="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Administration.BAS.DataLists.Contracts.Shared" />
  <xs:import schemaLocation="https://localhost:44311/DataListsService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.CQRS.Base" />
  <xs:complexType name="DataListItemReset">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.CQRS.Base.Administration.Events" base="q1:DataListItemUpdated">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DataListItemReset" nillable="true" type="tns:DataListItemReset" />
  <xs:complexType name="DataListsAdded">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DataListsEvents">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Administration.BAS.DataLists.Contracts.Shared" minOccurs="0" name="DataList" nillable="true" type="q2:DataList" />
          <xs:element minOccurs="0" name="DataListId" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DataListsAdded" nillable="true" type="tns:DataListsAdded" />
  <xs:complexType name="DataListsEvents">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.CQRS.Base" base="q3:Event">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DataListsEvents" nillable="true" type="tns:DataListsEvents" />
  <xs:complexType name="DataListsUpdated">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DataListsEvents">
        <xs:sequence>
          <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Administration.BAS.DataLists.Contracts.Shared" minOccurs="0" name="DataList" nillable="true" type="q4:DataList" />
          <xs:element minOccurs="0" name="DataListId" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DataListsUpdated" nillable="true" type="tns:DataListsUpdated" />
  <xs:complexType name="DataListsRevalidated">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DataListsEvents">
        <xs:sequence>
          <xs:element minOccurs="0" name="DataListId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TenantId" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DataListsRevalidated" nillable="true" type="tns:DataListsRevalidated" />
  <xs:complexType name="CoreDataListAdded">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DataListsEvents">
        <xs:sequence>
          <xs:element minOccurs="0" name="ContentId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DataListId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DataListsName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DatalistMaintenanceLevel" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsValid" type="xs:boolean" />
          <xs:element minOccurs="0" name="OrderIndex" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ReleaseStatus" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TenantId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TenantModuleId" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CoreDataListAdded" nillable="true" type="tns:CoreDataListAdded" />
  <xs:complexType name="CoreDataListUpdated">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DataListsEvents">
        <xs:sequence>
          <xs:element minOccurs="0" name="ContentId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DataListId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DataListsName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DatalistMaintenanceLevel" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsValid" type="xs:boolean" />
          <xs:element minOccurs="0" name="OrderIndex" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ReleaseStatus" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TenantId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TenantModuleId" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CoreDataListUpdated" nillable="true" type="tns:CoreDataListUpdated" />
</xs:schema>