components/QueryLoggingReconciliationUtility/QueryLoggingReconciliationUtility/Connected Services/DataListsService/DataListsService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.CQRS.Base.Administration.Events" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.CQRS.Base.Administration.Events" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://localhost:44311/DataListsService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.CQRS.Base.Administration.Shared" />
  <xs:import schemaLocation="https://localhost:44311/DataListsService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.CQRS.Base" />
  <xs:complexType name="DataListItemAdded">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DataListItemEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="DataListContentId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DataListId" nillable="true" type="xs:string" />
          <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.CQRS.Base.Administration.Shared" minOccurs="0" name="DataListItem" nillable="true" type="q1:DataListItem" />
          <xs:element minOccurs="0" name="DataListItemId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TenantId" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DataListItemAdded" nillable="true" type="tns:DataListItemAdded" />
  <xs:complexType name="DataListItemEvent">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.CQRS.Base" base="q2:Event">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DataListItemEvent" nillable="true" type="tns:DataListItemEvent" />
  <xs:complexType name="DataListItemUpdated">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DataListItemEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="DataListContentId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DataListId" nillable="true" type="xs:string" />
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.CQRS.Base.Administration.Shared" minOccurs="0" name="DataListItem" nillable="true" type="q3:DataListItem" />
          <xs:element minOccurs="0" name="DataListItemId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TenantId" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DataListItemUpdated" nillable="true" type="tns:DataListItemUpdated" />
  <xs:complexType name="DatalistItemAttributeRevalidated">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DataListItemEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="DataListContentId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DataListId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DataListItemId" nillable="true" type="xs:string" />
          <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.CQRS.Base.Administration.Shared" minOccurs="0" name="Period" nillable="true" type="q4:DataListItemPeriod" />
          <xs:element minOccurs="0" name="TenantId" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DatalistItemAttributeRevalidated" nillable="true" type="tns:DatalistItemAttributeRevalidated" />
  <xs:complexType name="DataListItemAttributeDeleted">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DataListItemEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="ContentId" nillable="true" type="xs:string" />
          <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.CQRS.Base.Administration.Shared" minOccurs="0" name="DataListItem" nillable="true" type="q5:DataListItem" />
          <xs:element minOccurs="0" name="DataListItemAttributeValueId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DataListItemId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DataListItemKey" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TenantId" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DataListItemAttributeDeleted" nillable="true" type="tns:DataListItemAttributeDeleted" />
</xs:schema>