components/LoadTenantDb/Service References/DataListsService/DataListsService87.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="HP.HSP.DataLists" elementFormDefault="qualified" targetNamespace="HP.HSP.DataLists" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://bas.dev.mapshc.com:8010/HP.HSP.UA3.DataLists/R6.0/DataListsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Administration.BAS.DataLists.Contracts.Commands" />
  <xs:import schemaLocation="http://bas.dev.mapshc.com:8010/HP.HSP.UA3.DataLists/R6.0/DataListsService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Administration.BAS.DataLists.Contracts.Events" />
  <xs:element name="AddDataListItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Administration.BAS.DataLists.Contracts.Commands" minOccurs="0" name="command" nillable="true" type="q1:AddDataListItemCommand" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDataListItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Administration.BAS.DataLists.Contracts.Events" minOccurs="0" name="AddDataListItemResult" nillable="true" type="q2:DataListItemAdded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDataListItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Administration.BAS.DataLists.Contracts.Commands" minOccurs="0" name="command" nillable="true" type="q3:UpdateDataListItemCommand" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDataListItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Administration.BAS.DataLists.Contracts.Events" minOccurs="0" name="UpdateDataListItemResult" nillable="true" type="q4:DataListItemUpdated" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDataList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Administration.BAS.DataLists.Contracts.Commands" minOccurs="0" name="command" nillable="true" type="q5:AddDataListCommand" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDataListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Administration.BAS.DataLists.Contracts.Events" minOccurs="0" name="AddDataListResult" nillable="true" type="q6:DataListsAdded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDataList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Administration.BAS.DataLists.Contracts.Commands" minOccurs="0" name="command" nillable="true" type="q7:UpdateDataListCommand" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDataListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Administration.BAS.DataLists.Contracts.Events" minOccurs="0" name="UpdateDataListResult" nillable="true" type="q8:DataListsUpdated" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
