components/UserAccountManager/Connected Services/UserQueryService1/UserQueryService9.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.User.Contracts.ViewDto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.User.Contracts.ViewDto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfUserExistsResults">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserExistsResults" nillable="true" type="tns:UserExistsResults" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserExistsResults" nillable="true" type="tns:ArrayOfUserExistsResults" />
  <xs:complexType name="UserExistsResults">
    <xs:sequence>
      <xs:element minOccurs="0" name="UserExists" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserExistsResults" nillable="true" type="tns:UserExistsResults" />
</xs:schema>