components/UserAccountManager/Connected Services/UserQueryService/UserQueryService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="HP.HSP.UserQueryService" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UserQueryService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_IUserQueryService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="HP.HSP.UserQueryService" location="https://bas.dev.mapshc.com/HP.HSP.UA3.User/R6.0/UserQueryService.svc?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="BasicHttpBinding_IUserQueryService" type="i0:IUserQueryService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUserProfile">
      <soap:operation soapAction="HP.HSP.UserQueryService/IUserQueryService/GetUserProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceExceptionFault">
        <soap:fault use="literal" name="ServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetUserIdAvailability">
      <soap:operation soapAction="HP.HSP.UserQueryService/IUserQueryService/GetUserIdAvailability" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceExceptionFault">
        <soap:fault use="literal" name="ServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetInvitationQualifiers">
      <soap:operation soapAction="HP.HSP.UserQueryService/IUserQueryService/GetInvitationQualifiers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceExceptionFault">
        <soap:fault use="literal" name="ServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetQualifierVerification">
      <soap:operation soapAction="HP.HSP.UserQueryService/IUserQueryService/GetQualifierVerification" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceExceptionFault">
        <soap:fault use="literal" name="ServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <soap:operation soapAction="HP.HSP.UserQueryService/IUserQueryService/GetAllUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceExceptionFault">
        <soap:fault use="literal" name="ServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SearchUsers">
      <soap:operation soapAction="HP.HSP.UserQueryService/IUserQueryService/SearchUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceExceptionFault">
        <soap:fault use="literal" name="ServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GerUserIdExists">
      <soap:operation soapAction="HP.HSP.UserQueryService/IUserQueryService/GerUserIdExists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceExceptionFault">
        <soap:fault use="literal" name="ServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetUserDelegates">
      <soap:operation soapAction="HP.HSP.UserQueryService/IUserQueryService/GetUserDelegates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceExceptionFault">
        <soap:fault use="literal" name="ServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetUserDelegateDetails">
      <soap:operation soapAction="HP.HSP.UserQueryService/IUserQueryService/GetUserDelegateDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceExceptionFault">
        <soap:fault use="literal" name="ServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetUserXRefRelationships">
      <soap:operation soapAction="HP.HSP.UserQueryService/IUserQueryService/GetUserXRefRelationships" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceExceptionFault">
        <soap:fault use="literal" name="ServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ValidateRegisteredUserXref">
      <soap:operation soapAction="HP.HSP.UserQueryService/IUserQueryService/ValidateRegisteredUserXref" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceExceptionFault">
        <soap:fault use="literal" name="ServiceExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="BusinessValidationExceptionFault">
        <soap:fault use="literal" name="BusinessValidationExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SearchUserProfileMemberFocusHistory">
      <soap:operation soapAction="HP.HSP.UserQueryService/IUserQueryService/SearchUserProfileMemberFocusHistory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceExceptionFault">
        <soap:fault use="literal" name="ServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_IUserQueryService" type="i0:IUserQueryService">
    <wsp:PolicyReference URI="#BasicHttpsBinding_IUserQueryService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUserProfile">
      <soap:operation soapAction="HP.HSP.UserQueryService/IUserQueryService/GetUserProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceExceptionFault">
        <soap:fault use="literal" name="ServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetUserIdAvailability">
      <soap:operation soapAction="HP.HSP.UserQueryService/IUserQueryService/GetUserIdAvailability" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceExceptionFault">
        <soap:fault use="literal" name="ServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetInvitationQualifiers">
      <soap:operation soapAction="HP.HSP.UserQueryService/IUserQueryService/GetInvitationQualifiers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceExceptionFault">
        <soap:fault use="literal" name="ServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetQualifierVerification">
      <soap:operation soapAction="HP.HSP.UserQueryService/IUserQueryService/GetQualifierVerification" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceExceptionFault">
        <soap:fault use="literal" name="ServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <soap:operation soapAction="HP.HSP.UserQueryService/IUserQueryService/GetAllUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceExceptionFault">
        <soap:fault use="literal" name="ServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SearchUsers">
      <soap:operation soapAction="HP.HSP.UserQueryService/IUserQueryService/SearchUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceExceptionFault">
        <soap:fault use="literal" name="ServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GerUserIdExists">
      <soap:operation soapAction="HP.HSP.UserQueryService/IUserQueryService/GerUserIdExists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceExceptionFault">
        <soap:fault use="literal" name="ServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetUserDelegates">
      <soap:operation soapAction="HP.HSP.UserQueryService/IUserQueryService/GetUserDelegates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceExceptionFault">
        <soap:fault use="literal" name="ServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetUserDelegateDetails">
      <soap:operation soapAction="HP.HSP.UserQueryService/IUserQueryService/GetUserDelegateDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceExceptionFault">
        <soap:fault use="literal" name="ServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetUserXRefRelationships">
      <soap:operation soapAction="HP.HSP.UserQueryService/IUserQueryService/GetUserXRefRelationships" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceExceptionFault">
        <soap:fault use="literal" name="ServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ValidateRegisteredUserXref">
      <soap:operation soapAction="HP.HSP.UserQueryService/IUserQueryService/ValidateRegisteredUserXref" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceExceptionFault">
        <soap:fault use="literal" name="ServiceExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="BusinessValidationExceptionFault">
        <soap:fault use="literal" name="BusinessValidationExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SearchUserProfileMemberFocusHistory">
      <soap:operation soapAction="HP.HSP.UserQueryService/IUserQueryService/SearchUserProfileMemberFocusHistory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceExceptionFault">
        <soap:fault use="literal" name="ServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserQueryService">
    <wsdl:port name="BasicHttpBinding_IUserQueryService" binding="tns:BasicHttpBinding_IUserQueryService">
      <soap:address location="http://mapsdevapp01.dev.mapshc.com:8010/HP.HSP.UA3.User/R6.0/UserQueryService.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_IUserQueryService" binding="tns:BasicHttpsBinding_IUserQueryService">
      <soap:address location="https://bas.dev.mapshc.com/HP.HSP.UA3.User/R6.0/UserQueryService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>