components/UserAccountManager/Connected Services/UserService/UserService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.User.Contracts.Commands" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.User.Contracts.Commands" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://bas.dev.mapshc.com/HP.HSP.UA3.User/R6.0/UserService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.CQRS.Base" />
  <xs:import schemaLocation="https://bas.dev.mapshc.com/HP.HSP.UA3.User/R6.0/UserService.svc?xsd=xsd6" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="https://bas.dev.mapshc.com/HP.HSP.UA3.User/R6.0/UserService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.User.Contracts.Domain" />
  <xs:import schemaLocation="https://bas.dev.mapshc.com/HP.HSP.UA3.User/R6.0/UserService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="AddUser">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.CQRS.Base" base="q1:Command">
        <xs:sequence>
          <xs:element minOccurs="0" name="ContactNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DateOfBirth" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="GenericIdentifier" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="InvitationCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LocaleId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TenantId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AddUser" nillable="true" type="tns:AddUser" />
  <xs:complexType name="AddProfile">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.CQRS.Base" base="q2:Command">
        <xs:sequence>
          <xs:element minOccurs="0" name="ContactNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LocaleId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TenantId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AddProfile" nillable="true" type="tns:AddProfile" />
  <xs:complexType name="UpdateProfile">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.CQRS.Base" base="q3:Command">
        <xs:sequence>
          <xs:element minOccurs="0" name="ContactNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LocaleId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TenantId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UpdateProfile" nillable="true" type="tns:UpdateProfile" />
  <xs:complexType name="AddUserDelegateCommand">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.CQRS.Base" base="q4:Command">
        <xs:sequence>
          <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
          <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="SecurityFunctions" nillable="true" type="q5:ArrayOfstring" />
          <xs:element minOccurs="0" name="UserProfileRelationShipCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="XrefAssocID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="XrefLastName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AddUserDelegateCommand" nillable="true" type="tns:AddUserDelegateCommand" />
  <xs:complexType name="AddRegisteredUserXrefCommand">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.CQRS.Base" base="q6:Command">
        <xs:sequence>
          <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.User.Contracts.Domain" minOccurs="0" name="DelegateAssociations" nillable="true" type="q7:ArrayOfRegisteredUserXrefAssociation" />
          <xs:element minOccurs="0" name="DelegateProfileId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DelegateUserId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
          <xs:element minOccurs="0" name="UserProfileId" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AddRegisteredUserXrefCommand" nillable="true" type="tns:AddRegisteredUserXrefCommand" />
  <xs:complexType name="UpdateRegisteredUserXrefCommand">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q8="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.CQRS.Base" base="q8:Command">
        <xs:sequence>
          <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.User.Contracts.Domain" minOccurs="0" name="DelegateAssociations" nillable="true" type="q9:ArrayOfRegisteredUserXrefAssociation" />
          <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
          <xs:element minOccurs="0" name="UserProfileXrefId" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UpdateRegisteredUserXrefCommand" nillable="true" type="tns:UpdateRegisteredUserXrefCommand" />
  <xs:complexType name="UpdateUserDelegateCommand">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q10="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.CQRS.Base" base="q10:Command">
        <xs:sequence>
          <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
          <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="SecurityFunctions" nillable="true" type="q11:ArrayOfstring" />
          <xs:element minOccurs="0" name="UserProfileXrefAssocID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UserProfileXrefID" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UpdateUserDelegateCommand" nillable="true" type="tns:UpdateUserDelegateCommand" />
  <xs:complexType name="AddUserRoles">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q12="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.CQRS.Base" base="q12:Command">
        <xs:sequence>
          <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Roles" nillable="true" type="q13:ArrayOfstring" />
          <xs:element minOccurs="0" name="UserProfileID" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AddUserRoles" nillable="true" type="tns:AddUserRoles" />
  <xs:complexType name="RemoveUserRoles">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q14="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.CQRS.Base" base="q14:Command">
        <xs:sequence>
          <xs:element xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Roles" nillable="true" type="q15:ArrayOfstring" />
          <xs:element minOccurs="0" name="UserProfileID" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RemoveUserRoles" nillable="true" type="tns:RemoveUserRoles" />
  <xs:complexType name="AddUserPreferences">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q16="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.CQRS.Base" base="q16:Command">
        <xs:sequence>
          <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.User.Contracts.Domain" minOccurs="0" name="Preferences" nillable="true" type="q17:ArrayOfKeyValuePair" />
          <xs:element minOccurs="0" name="UserProfileID" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AddUserPreferences" nillable="true" type="tns:AddUserPreferences" />
  <xs:complexType name="RemoveUserPreferences">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q18="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.CQRS.Base" base="q18:Command">
        <xs:sequence>
          <xs:element xmlns:q19="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="PreferencesKeys" nillable="true" type="q19:ArrayOfstring" />
          <xs:element minOccurs="0" name="UserProfileID" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RemoveUserPreferences" nillable="true" type="tns:RemoveUserPreferences" />
  <xs:complexType name="AddUserProfileMemberFocusHistory">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q20="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.CQRS.Base" base="q20:Command">
        <xs:sequence>
          <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DateOfBirth" type="xs:dateTime" />
          <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
          <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MaxMembersRetained" type="xs:int" />
          <xs:element minOccurs="0" name="MemberId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MiddleName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OperatorId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PostalCd" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UserProfileId" type="ser:guid" />
          <xs:element minOccurs="0" name="UserProfileMbrFcsHstId" type="ser:guid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AddUserProfileMemberFocusHistory" nillable="true" type="tns:AddUserProfileMemberFocusHistory" />
</xs:schema>