components/UserAccountMigration/Connected Services/UserQueryService/UserQueryService96.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.User.Contracts.Queries" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.User.Contracts.Queries" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:40520/UserQueryService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.User.Contracts.Domain" />
  <xs:import schemaLocation="http://localhost:40520/UserQueryService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.User.Contracts.Queries.Parameters" />
  <xs:import schemaLocation="http://localhost:40520/UserQueryService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.CQRS.Base" />
  <xs:complexType name="UserProfileQuery">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.CQRS.Base" base="q1:Query">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.User.Contracts.Domain" minOccurs="0" name="QueryResult" nillable="true" type="q2:UserProfileModel" />
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.User.Contracts.Queries.Parameters" minOccurs="0" name="Where" nillable="true" type="q3:UserIdParms" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UserProfileQuery" nillable="true" type="tns:UserProfileQuery" />
  <xs:complexType name="SearchUserProfilesQuery">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.CQRS.Base" base="q4:QueryOfUserProfileModelcp1reAtb">
        <xs:sequence>
          <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.User.Contracts.Queries.Parameters" minOccurs="0" name="Where" nillable="true" type="q5:SearchUserProfileParms" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SearchUserProfilesQuery" nillable="true" type="tns:SearchUserProfilesQuery" />
  <xs:complexType name="UserDelegateQuery">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.CQRS.Base" base="q6:QueryOfUserDelegateModelcp1reAtb">
        <xs:sequence>
          <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.User.Contracts.Queries.Parameters" minOccurs="0" name="Where" nillable="true" type="q7:UserDelegateParms" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UserDelegateQuery" nillable="true" type="tns:UserDelegateQuery" />
  <xs:complexType name="UserDelegateDetailsQuery">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q8="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.CQRS.Base" base="q8:QueryOfUserDelegateDetailsModelcp1reAtb">
        <xs:sequence>
          <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.User.Contracts.Queries.Parameters" minOccurs="0" name="Where" nillable="true" type="q9:UserDelegateDetailParms" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UserDelegateDetailsQuery" nillable="true" type="tns:UserDelegateDetailsQuery" />
  <xs:complexType name="UserXRefAssociatedRelationshipQuery">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q10="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.CQRS.Base" base="q10:QueryOfUserXRefAssociatedRelationshipModelcp1reAtb">
        <xs:sequence>
          <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.User.Contracts.Queries.Parameters" minOccurs="0" name="Where" nillable="true" type="q11:UserXRefAssociatedRelationshipParms" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UserXRefAssociatedRelationshipQuery" nillable="true" type="tns:UserXRefAssociatedRelationshipQuery" />
  <xs:complexType name="UserXRefRelationshipQuery">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q12="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.CQRS.Base" base="q12:QueryOfUserXRefRelationshipModelcp1reAtb">
        <xs:sequence>
          <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.User.Contracts.Queries.Parameters" minOccurs="0" name="Where" nillable="true" type="q13:UserXRefRelationshipParms" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UserXRefRelationshipQuery" nillable="true" type="tns:UserXRefRelationshipQuery" />
  <xs:complexType name="RegisteredUserXrefQuery">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q14="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.CQRS.Base" base="q14:QueryOfUserProfileModelcp1reAtb">
        <xs:sequence>
          <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.User.Contracts.Queries.Parameters" minOccurs="0" name="Where" nillable="true" type="q15:RegisteredUserXrefParms" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RegisteredUserXrefQuery" nillable="true" type="tns:RegisteredUserXrefQuery" />
  <xs:complexType name="UserProfileMemberFocusHistoryQuery">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q16="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.CQRS.Base" base="q16:QueryOfUserProfileMemberFocusHistoryDetailcp1reAtb">
        <xs:sequence>
          <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.User.Contracts.Domain" minOccurs="0" name="QueryResult" nillable="true" type="q17:ArrayOfUserProfileMemberFocusHistoryDetail" />
          <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.User.Contracts.Queries.Parameters" minOccurs="0" name="Where" nillable="true" type="q18:UserProfileMemberFocusHistoryParms" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UserProfileMemberFocusHistoryQuery" nillable="true" type="tns:UserProfileMemberFocusHistoryQuery" />
  <xs:complexType name="SearchVOSUserQuery">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q19="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.CQRS.Base" base="q19:QueryOfUserVOSProfileModelcp1reAtb">
        <xs:sequence>
          <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.User.Contracts.Queries.Parameters" minOccurs="0" name="Where" nillable="true" type="q20:SearchVOSUserParms" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SearchVOSUserQuery" nillable="true" type="tns:SearchVOSUserQuery" />
  <xs:complexType name="UserProfilesByUserIdQuery">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q21="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.CQRS.Base" base="q21:QueryOfUserProfileModelcp1reAtb">
        <xs:sequence>
          <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.User.Contracts.Queries.Parameters" minOccurs="0" name="Where" nillable="true" type="q22:UserProfilesByUserIdQueryParms" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UserProfilesByUserIdQuery" nillable="true" type="tns:UserProfilesByUserIdQuery" />
  <xs:complexType name="GetUserVOSTagQuery">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q23="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.CQRS.Base" base="q23:QueryOfUserVOSTagDetailedModelcp1reAtb">
        <xs:sequence>
          <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.User.Contracts.Queries.Parameters" minOccurs="0" name="Where" nillable="true" type="q24:GetUserVOSTagParms" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetUserVOSTagQuery" nillable="true" type="tns:GetUserVOSTagQuery" />
</xs:schema>