components/UserAccountMigration/Connected Services/UserQueryService/UserQueryService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="HP.HSP.UserQueryService" elementFormDefault="qualified" targetNamespace="HP.HSP.UserQueryService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://bas.dev.mapshc.com/HP.HSP.UA3.User/R6.0/UserQueryService.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.User.Contracts.Queries" />
  <xs:element name="GetUserProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.User.Contracts.Queries" minOccurs="0" name="query" nillable="true" type="q1:UserProfileQuery" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserProfileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.User.Contracts.Queries" minOccurs="0" name="GetUserProfileResult" nillable="true" type="q2:UserProfileQuery" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchUserProfiles">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.User.Contracts.Queries" minOccurs="0" name="query" nillable="true" type="q3:SearchUserProfilesQuery" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchUserProfilesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.User.Contracts.Queries" minOccurs="0" name="SearchUserProfilesResult" nillable="true" type="q4:SearchUserProfilesQuery" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserDelegates">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.User.Contracts.Queries" minOccurs="0" name="query" nillable="true" type="q5:UserDelegateQuery" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserDelegatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.User.Contracts.Queries" minOccurs="0" name="GetUserDelegatesResult" nillable="true" type="q6:UserDelegateQuery" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserDelegateDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.User.Contracts.Queries" minOccurs="0" name="query" nillable="true" type="q7:UserDelegateDetailsQuery" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserDelegateDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.User.Contracts.Queries" minOccurs="0" name="GetUserDelegateDetailsResult" nillable="true" type="q8:UserDelegateDetailsQuery" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserXRefAssociatedRelationships">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.User.Contracts.Queries" minOccurs="0" name="query" nillable="true" type="q9:UserXRefAssociatedRelationshipQuery" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserXRefAssociatedRelationshipsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.User.Contracts.Queries" minOccurs="0" name="GetUserXRefAssociatedRelationshipsResult" nillable="true" type="q10:UserXRefAssociatedRelationshipQuery" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserXRefRelationships">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.User.Contracts.Queries" minOccurs="0" name="query" nillable="true" type="q11:UserXRefRelationshipQuery" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserXRefRelationshipsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.User.Contracts.Queries" minOccurs="0" name="GetUserXRefRelationshipsResult" nillable="true" type="q12:UserXRefRelationshipQuery" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateRegisteredUserXref">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.User.Contracts.Queries" minOccurs="0" name="query" nillable="true" type="q13:RegisteredUserXrefQuery" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateRegisteredUserXrefResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.User.Contracts.Queries" minOccurs="0" name="ValidateRegisteredUserXrefResult" nillable="true" type="q14:RegisteredUserXrefQuery" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchUserProfileMemberFocusHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.User.Contracts.Queries" minOccurs="0" name="query" nillable="true" type="q15:UserProfileMemberFocusHistoryQuery" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchUserProfileMemberFocusHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.User.Contracts.Queries" minOccurs="0" name="SearchUserProfileMemberFocusHistoryResult" nillable="true" type="q16:UserProfileMemberFocusHistoryQuery" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchVOSUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.User.Contracts.Queries" minOccurs="0" name="query" nillable="true" type="q17:SearchVOSUserQuery" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchVOSUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.User.Contracts.Queries" minOccurs="0" name="SearchVOSUserResult" nillable="true" type="q18:SearchVOSUserQuery" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProfilesByUserIds">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.User.Contracts.Queries" minOccurs="0" name="query" nillable="true" type="q19:UserProfilesByUserIdQuery" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProfilesByUserIdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.User.Contracts.Queries" minOccurs="0" name="GetProfilesByUserIdsResult" nillable="true" type="q20:UserProfilesByUserIdQuery" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserVOSTag">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.User.Contracts.Queries" minOccurs="0" name="query" nillable="true" type="q21:GetUserVOSTagQuery" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserVOSTagResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/HP.HSP.UA3.Core.BAS.User.Contracts.Queries" minOccurs="0" name="GetUserVOSTagResult" nillable="true" type="q22:GetUserVOSTagQuery" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>