components/NISTMongoAtlasExtractPOC/NISTMongoAtlasExtractPOC/NISTMongoAtlasExtractPOC.Ctrl/Service References/NotificationService/NotificationService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HP.NotificationServices.Library.DataTransferObjects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HP.NotificationServices.Library.DataTransferObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSubscription">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Subscription" nillable="true" type="tns:Subscription" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSubscription" nillable="true" type="tns:ArrayOfSubscription" />
  <xs:complexType name="Subscription">
    <xs:sequence>
      <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EventID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="EventNameContains" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SendSMSMessage" type="xs:boolean" />
      <xs:element minOccurs="0" name="SmsAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubscriberID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SubscriptionID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Subsystem" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Subscription" nillable="true" type="tns:Subscription" />
</xs:schema>