components/NISTMongoAtlasExtractPOC/NISTMongoAtlasExtractPOC/NISTMongoAtlasExtractPOC.Ctrl/Service References/NotificationService/NotificationService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="HP.NotificationServices.Library.DataTransferObjects" elementFormDefault="qualified" targetNamespace="HP.NotificationServices.Library.DataTransferObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://bas.dev.mapshc.com/HP.HSP.UA3.NotificationServices/R6.0/NotificationService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/HP.NotificationServices.DataTransferObjects" />
  <xs:import schemaLocation="https://bas.dev.mapshc.com/HP.HSP.UA3.NotificationServices/R6.0/NotificationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="Event">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HP.NotificationServices.DataTransferObjects" minOccurs="0" name="EventCategory" nillable="true" type="q1:Category" />
      <xs:element minOccurs="0" name="ExpectedRunTimeAs24HHMM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HasSLA" type="xs:boolean" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="IsActive" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="MessageTemplate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OperatorId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RunSchedule" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RunsOnFirstDayOfMonth" type="xs:boolean" />
      <xs:element minOccurs="0" name="RunsOnFriday" type="xs:boolean" />
      <xs:element minOccurs="0" name="RunsOnLastDayOfMonth" type="xs:boolean" />
      <xs:element minOccurs="0" name="RunsOnMonday" type="xs:boolean" />
      <xs:element minOccurs="0" name="RunsOnSaturday" type="xs:boolean" />
      <xs:element minOccurs="0" name="RunsOnSunday" type="xs:boolean" />
      <xs:element minOccurs="0" name="RunsOnThisDayOfMonth" type="xs:int" />
      <xs:element minOccurs="0" name="RunsOnThursday" type="xs:boolean" />
      <xs:element minOccurs="0" name="RunsOnTuesday" type="xs:boolean" />
      <xs:element minOccurs="0" name="RunsOnWednesday" type="xs:boolean" />
      <xs:element minOccurs="0" name="Subsystem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TenantId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Event" nillable="true" type="tns:Event" />
  <xs:complexType name="ArrayOfEvent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Event" nillable="true" type="tns:Event" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEvent" nillable="true" type="tns:ArrayOfEvent" />
</xs:schema>