components/NISTMongoAtlasExtractPOC/NISTMongoAtlasExtractPOC/NISTMongoAtlasExtractPOC.Ctrl/Service References/NotificationService/NotificationService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HP.NotificationServices.Contracts.Shared" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HP.NotificationServices.Contracts.Shared" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSearchFilterCriteria">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SearchFilterCriteria" nillable="true" type="tns:SearchFilterCriteria" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSearchFilterCriteria" nillable="true" type="tns:ArrayOfSearchFilterCriteria" />
  <xs:complexType name="SearchFilterCriteria">
    <xs:sequence>
      <xs:element minOccurs="0" name="FieldName" type="tns:FieldNames.Notification" />
      <xs:element minOccurs="0" name="FilterData" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FilterOperator" type="tns:FilterOperators" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SearchFilterCriteria" nillable="true" type="tns:SearchFilterCriteria" />
  <xs:simpleType name="FieldNames.Notification">
    <xs:restriction base="xs:string">
      <xs:enumeration value="EventName" />
      <xs:enumeration value="Module" />
      <xs:enumeration value="Category" />
      <xs:enumeration value="CreationDate" />
      <xs:enumeration value="Message" />
      <xs:enumeration value="EmailAddress" />
      <xs:enumeration value="SMSAddress" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="FieldNames.Notification" nillable="true" type="tns:FieldNames.Notification" />
  <xs:simpleType name="FilterOperators">
    <xs:restriction base="xs:string">
      <xs:enumeration value="EqualTo" />
      <xs:enumeration value="Contains" />
      <xs:enumeration value="EndsWith" />
      <xs:enumeration value="StartsWith" />
      <xs:enumeration value="GreaterThan" />
      <xs:enumeration value="LessThan" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="FilterOperators" nillable="true" type="tns:FilterOperators" />
</xs:schema>